* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

a > article {
  color: initial;
}

a > article:hover {
  filter: brightness(1.1);
}

body {
  margin: 0;
  background: #08f;
}

article.user-card {
  display: flex;
  gap: 14px;
  margin: 24px;
  background: #fafafa;
  padding: 10px;
}

article.user-card > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
