* {
  box-sizing: border-box;
}

.comment-user {
  width: 3rem;
  font-weight: bold;
}

.comment-card {
  display: flex;
  gap: 10px;
}

section.comment-list {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  background: #fafafa;
  color: inherit;
  font-weight: bold;
  text-decoration: inherit;
}

.btn.disabled {
  background: #dfdfdf;
}

section.action-butons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 24px;
}

a {
  text-decoration: inherit;
}

a > article {
  color: initial;
}

a > article:hover {
  filter: brightness(1.1);
}

body {
  margin: 0;
  background: #08f;
}

article.user-card,
.bio,
article.post-card,
.comment-list {
  margin: 24px;
  background: #fafafa;
  padding: 10px;
}

article.post-card {
  margin-block: 10px;
  padding-bottom: 28px;
}

article.post-card span {
  float: right;
}

article.user-card {
  display: flex;
  gap: 14px;
}

article.user-card > div {
  flex-grow: 1;
}

article.user-card span {
  float: right;
}

article.user-card > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
