* {
  box-sizing: border-box;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

input[type="submit"] {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 9px;
}

header.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-user {
  width: 3rem;
  font-weight: bold;
}

.comment-text {
  flex-grow: 1;
}

.comment-card > .comment-actions {
  display: none;
}

.comment-card:hover > .comment-actions {
  display: block;
}

section.edit-post > form,
section.login > form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.comment-card:hover > .comment-actions > form {
  position: absolute;
  margin-left: -3.5em;
}

form .comment-text {
  display: flex;
  flex-direction: column;
}

.comment-card {
  display: flex;
  gap: 10px;
}

section.comment-list {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  background: #fafafa;
  color: inherit;
  font-weight: bold;
  text-decoration: inherit;
}

.btn.disabled {
  background: #dfdfdf;
}

section.action-butons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 24px;
}

a {
  text-decoration: inherit;
}

a > article {
  color: initial;
}

a > article:hover {
  filter: brightness(1.1);
}

body {
  margin: 0;
  background: #08f;
}

article.user-card,
.bio,
article.post-card,
.comment-list,
article.post,
.edit-post,
.login {
  margin: 24px;
  background: #fafafa;
  padding: 10px;
}

section.login {
  margin: 24px calc(50vw - 150px);
}

form .field_with_errors,
form .field {
  display: flex;
  flex-direction: column;
}

form .field_with_errors > input[type='checkbox'],
form .field > input[type='checkbox'] {
  align-self: baseline;
}

.field_with_errors > input[type='checkbox'] + label,
.field > input[type='checkbox'] + label {
  position: absolute;
  margin-left: 30px;
}

form .field_with_errors {
  display: flex;
  flex-direction: column;
  border: 1px solid #f00;
  border-radius: 3px;
}

article.post {
  margin-bottom: 10px;
}

article.post-card {
  margin-block: 10px;
  padding-bottom: 28px;
}

article.post-card span {
  float: right;
}

article.user-card {
  display: flex;
  gap: 14px;
}

article.user-card > div {
  flex-grow: 1;
}

article.user-card span {
  float: right;
}

article.user-card > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
