<div class="comment-card">
    <div class="comment-user"><%= comment.author.name %></div>
    <div class="comment-text"><%= comment.text %></div>
    <% if can? :destroy, comment %>
        <div class="comment-actions">
            <%= button_to "Delete", [comment.post.author, comment.post, comment], method: :delete, confirm: "Are you sure You want to delete this comment?" %>
        </div>
    <% end %>
</div> 